<a href="https://colab.research.google.com/github/AshaPandian/ML/blob/main/PGDCB_Week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Week 2 --- UNIT II**

# **Operators**

In [ ]:
#Operators, Looping

In [ ]:
a = 9
b = 4
# Addition of numbers 
add = a + b 
# Subtraction of numbers  
sub = a - b 
# Multiplication of number  
mul = a * b 
# Division(float) of number  
div1 = a / b 
# Division(floor) of number  
div2 = a // b 
# Modulo of both number 
mod = a % b 
# print results 
print(add) 
print(sub) 
print(mul) 
print(div1) 
print(div2) 
print(mod)

13
5
36
2.25
2
1

In [ ]:
a = 13
b = 33
# a > b is False 
print(a > b) 
# a < b is True 
print(a < b)
# a == b is False 
print(a == b)
# a != b is True 
print(a != b)
# a >= b is False 
print(a >= b)
# a <= b is True 
print(a <= b)

False
True
False
True
False
True

In [ ]:
a = True
b = False
# Print a and b is False 
print(a and b)
# Print a or b is True 
print(a or b)
# Print not a is False 
print(not a)

False
True
False

In [ ]:
a = 60            # 60 = 0011 1100 
b = 13            # 13 = 0000 1101 
c = 0
c = a & b;        #  0000 1100
print ("Line 1 - Value of c is ", c)
c = a | b;        #  0011 1101 
print ("Line 2 - Value of c is ", c)
c = a ^ b;        #  0011 0001 ---XOR
print ("Line 3 - Value of c is ", c)
c = a << 2;       #  1111 0000
print ("Line 4 - Value of c is ", c)
c = b >> 2;       # 0000 1111
print ("Line 5 - Value of c is ", c)

Line 1 - Value of c is  12
Line 2 - Value of c is  61
Line 3 - Value of c is  49
Line 4 - Value of c is  240
Line 5 - Value of c is  3

In [ ]:
a1 = 3
b1 = 3
a2 = 'PGDCBStudents'
b2 = 'PGDCBStudents'
a3 = [1,2,3]
b3 = [1,2,3]
print(a1 is not b1)
print(a2 is b2)
# Output is False, since lists are mutable. 
print(a3 is b3)

False
True
False

In [ ]:
x = "PGDCB students are good"
y = {3:'a',4:'b'} 
print('g' in x) 
print('pgdcb' not in x) 
print('good' not in x) 
print("3 in y=", 3 in y) 
print('b' in y) 
x = ["apple", "banana"]
print("banana" in x)
# returns True because a sequence with the value "banana" is in the list
print("pineapple" not in x)
# returns True because a sequence with the value "pineapple" is not in the list

True
True
False
3 in y= True
False
True
True

In [ ]:
print(3 == 5) 
print(3 > 5) 
print(3 <=5) 
print(len("ATGC") > 5) 
print("GAATTC".count("T") > 1) 
print("ATGCTT".startswith("ATG")) 
print("end with TTT=", "ATGCTT".endswith("TTT")) 
print("ATGCTT".isupper()) 
print("ATGCTT".islower()) 
print("V" in ["V", "W", "L"])

False
False
True
False
True
True
end with TTT= False
True
False
True

# **Conditional Tests and Looping**

In [ ]:
a=10
b=20

if a>b:
  print("A is greater") 
else:
  print("B is greater")
  print("End")
print("Hi")

B is greater
End
Hi

In [ ]:
x=15
if (x>10):
 print("Above ten,") 
 if x>20:
  print("and also above 20!") 
 else:
  print("but not above 20!")
print("End")

Above ten,
but not above 20!
End

In [ ]:
score=input("Enter score: ")
score=int(score)
if score>=80:
    grade='A'
else:
    if score>=70:
        grade='B'
    else:
        grade='C'
print ("Grade is:",grade)

Enter score: 89
Grade is: A

In [ ]:
num = float(input("Enter a number: "))
if num > 0:
   print("Positive number")
elif num == 0:
   print("Zero")
else:
   print("Negative number")

Enter a number: -7
Negative number

In [ ]:
# Current temperature
currentTemp = 30.2

# Extremes in temperature (in Celsius)
tempHigh = 40.7
tempLow = -18.9

# Compare current temperature against extremes
if currentTemp > tempLow and currentTemp < tempHigh:
    print("Current temperature (" , currentTemp, ") is between high and low extremes.")

Current temperature ( 30.2 ) is between high and low extremes.

In [ ]:
score = input("Enter score: ")
score = int(score)
if score >= 80:
    grade = 'A'
else:
    if score >= 70:
        grade = 'B'
    else:
        if score >= 55:
            grade = 'C'
        else:
            if score >= 50:
                grade = 'Pass'
            else:
                 grade = 'Fail'
print ("Grade is: " + grade)

Enter score: 78
Grade is: B

In [ ]:
score = input("Enter score: ")
score = int(score)
if score >= 80:
    grade = 'A'
elif score >= 70:
    grade = 'B'
elif score >= 55:
    grade = 'C'
elif score >= 50:
    grade = 'Pass'
else:
    grade = 'Fail'
print ("\n\nGrade is: " + grade)

Enter score: 89


Grade is: A

In [ ]:
i = 10
print(True) if i < 15 else print(False)

True

In [ ]:
while 1:
    print ('Spam')
    answer = input('Press y to end this loop: ')
    if answer == 'y':
        print ('BYEEEE!')
        break
print ('Have a ')
print ('nice day!')

Spam
Press y to end this loop: y
BYEEEE!
Have a
nice day!

In [ ]:
count = 0
while (count < 5):
   print (count, " is  less than 5")
   count = count + 1
else:
   print (count, " is not less than 5")

0  is  less than 5
1  is  less than 5
2  is  less than 5
3  is  less than 5
4  is  less than 5
5  is not less than 5

In [ ]:
while 1:
    print ('Hi')
    answer = input('Enter y to print Course code: ')
    if answer == 'y':
        print ('PGDCB')
        continue
    answer = input('Enter y to stop!  ')
    if answer == 'y':
        break
print ('Have a')
print ('nice day!')

Hi
Enter y to print Course code: y
PGDCB
Hi
Enter y to print Course code: n
Enter y to stop!  y
Have a
nice day!

In [ ]:
i=1
while i<6:
  print(i)
  if(i==3):
    break
  i+=1

1
2
3

In [ ]:
i=0
while i<6:
  i+=1
  if(i==3):
    continue
  print(i)

1
2
4
5
6

In [ ]:
i=0
while i<6:
  i+=1
  if(i==3):
    pass
  print(i)

1
2
3
4
5
6

In [ ]:
for c in range (10):  
    print (c)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for c in range (5,10):  
    print (c, end=',')

5,6,7,8,9,

In [ ]:
n = [6,4,5,7,8,6,2,3,1]
s = 0
for val in n:
    s=s+val
print(s)

42

In [ ]:
for letter in 'Python':     # First Example
   print ('Current Letter :', letter)

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : h
Current Letter : o
Current Letter : n

In [ ]:
fruits = ['banana', 'apple',  'mango']
for fruit in fruits:        # Second Example
   print ('Current fruit :', fruit)

Current fruit : banana
Current fruit : apple
Current fruit : mango

In [ ]:
for c in range (1,6):
    if c == 3:
        break
    print (c)

1
2

In [ ]:
for letter in 'Python': 
   if letter == 'h':
      pass
      print ('This is pass block')
   print ('Current Letter :', letter)

print ("Good bye!")

Current Letter : P
Current Letter : y
Current Letter : t
This is pass block
Current Letter : h
Current Letter : o
Current Letter : n
Good bye!

In [ ]:
print ("WELCOME TO PGDCB-PYTHON COURSE")
for i in range (1,3):
    for j in range (1,3):
        for k in range (1,3):
            print ("i: " + str(i) + " j: " + str(j) + " k: " + str(k))
    print ("PGDCB")

WELCOME TO PGDCB-PYTHON COURSE
i: 1 j: 1 k: 1
i: 1 j: 1 k: 2
i: 1 j: 2 k: 1
i: 1 j: 2 k: 2
PGDCB
i: 2 j: 1 k: 1
i: 2 j: 1 k: 2
i: 2 j: 2 k: 1
i: 2 j: 2 k: 2
PGDCB

In [ ]:
print ("WELCOME TO VAL-PYTHON COURSE")
for i in range (1,3):
  for j in range (1,3):
    print ("i: ",i, " j: ",j)
  print ("PGDCB")

WELCOME TO VAL-PYTHON COURSE
i:  1  j:  1
i:  1  j:  2
PGDCB
i:  2  j:  1
i:  2  j:  2
PGDCB

In [ ]:
fruits = ['apple','banana', 'cherry']
for x in fruits:        
   print (x)
   if x=="banana":
     break

apple
banana

In [ ]:
fruits = ['apple','banana', 'cherry']
for x in fruits:        
   if x=="banana":
     break
   print (x)

apple

In [ ]:
fruits = ['apple','banana', 'cherry']
for x in fruits:        
   if x=="banana":
     continue
   print (x)

apple
cherry

In [ ]:
prop = ["red", "healthy","tasty"]
fruits = ['apple','banana', 'cherry']
for x in prop:
  for y in fruits:
    print(x,y)

In [ ]:
for i in range(1, 4): 
    print(i) 
else:  # Executed because no break in for 
    print("No Break")

1
2
3
No Break

In [ ]:
for i in range(1, 4): 
    print(i) 
    break
else: # Not executed as there is a break 
    print("No Break")

1

In [ ]:
# Python 3.x program to check if an array consists of even number 
def contains_even_number(l): 
    for ele in l: 
        if ele % 2 == 0: 
            print ("list contains an even number") 
            break
  
    # This else executes only if break is NEVER 
    # reached and loop terminated after all iterations. 
    else:      
        print ("list does not contain an even number") 
  
# Driver code 
print ("For List 1:") 
contains_even_number([1, 9, 8]) 
print (" \nFor List 2:") 
contains_even_number([1, 3, 5])

For List 1:
list contains an even number

For List 2:
list does not contain an even number

In [ ]:
# Python program to find the factorial of a number provided by the user.

# change the value for a different result
n = int(input("Enter the number:"))

f = 1

for i in range(1, n + 1):
  f = f*i
print("The factorial of",n,"is",f)

Enter the number:-5
The factorial of -5 is 1

In [3]:
n = int(input("How many terms? "))

# first two terms
a, b = 0, 1
count = 0
print("Fibonacci sequence:")
print(a)
print(b)
for i in range(3,n+1):
  c = a + b
  print(c)
  # update values
  a = b
  b= c

How many terms? 5
Fibonacci sequence:
0
1
1
2
3

In [ ]:
# Python program to check if the number is an Armstrong number or not

# take input from the user
num = int(input("Enter a number: "))

# initialize sum
arm = 0

# find the sum of the cube of each digit
temp = num
while temp > 0:
   digit = temp % 10
   arm += digit ** 3
   temp //= 10

# display the result
if num == arm:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number

# **Functions**

In [ ]:
def fun1(str):
   #This prints a passed string into this function
   print (str)
   

# Now you can call fun1 function
fun1("PGDCB")
fun1("PYTHON PROGRAMMING CLASS")

PGDCB
PYTHON PROGRAMMING CLASS

In [ ]:
def add(x,y):
    return (x+y)
def sub(x,y):
    return (x-y)
def mul(x,y):
    return (x*y)
def div(x,y):
    return (x/y)

n1=40; n2=20
print("Sum=",add(n1,n2))
print("Sub=",sub(n1,n2))
print("Multiplication=",mul(n1,n2))
print("Division=",div(n1,n2))

Sum= 60
Sub= 20
Multiplication= 800
Division= 2.0

Required Arguments

In [ ]:
def fun1(str):
   #This prints a passed string into this function
   print (str)
   

# Now you can call fun1 function
fun1("PGDCB")
fun1("PYTHON PROGRAMMING CLASS")

PGDCB
PYTHON PROGRAMMING CLASS

In [10]:
def printinfo( name, pyt ):
   "This prints a passed info into this function"
   print ("Name: ", name)
   print ("Python Subject% ", pyt)
   

# Now you can call printinfo function
printinfo( 100, "Nabanita" )

Name:  100
Python Subject%  Nabanita

Keyword Arguments

In [ ]:
def fun1(str):
   "This prints a passed string into this function"
   print (str)
   return;
   
fun1(str="Christ University")
fun1(str="PGDCB-python class")

Christ University
PGDCB-python class

In [ ]:
def printinfo( name, pyt ):
   "This prints a passed info into this function"
   print ("Name: ", name)
   print ("Python Subject% ", pyt)
   

# Now you can call printinfo function
printinfo( pyt=100, name="Nabanita" )

Name:  Nabanita
Python Subject%  100

Default Arguments

In [ ]:
# Function definition is here
def printinfo( name, pyt=95):
   print ("Name: ", name)
   print ("Python Subject%  ", pyt)
   

# Now you can call printinfo function
printinfo( pyt=100, name="Nabanita" )
#printinfo( pyt, name="M Section")  
#Error stmt --as keyword argument should compulsorily have a value--pyt=99
printinfo( name="Nabanita" , pyt=80)
printinfo( name="Nabanita")
#printinfo(name="Shubham",pyt)  #Error stmt --as keyword argument should compulsorily have a value--pyt=99

Name:  Nabanita
Python Subject%   100
Name:  Nabanita
Python Subject%   80
Name:  Nabanita
Python Subject%   95

Variable Length Arguments

In [ ]:
# Function definition is here
def function1(*vartuple ):
   for var in vartuple:
      print (var)
   return;

# Now you can call printinfo function
function1( 10 )
function1( 70, 60, 50 )

In [9]:
def kwarg_type_test(**kwargs): 
	print(kwargs) 

kwarg_type_test(a="hi") 
kwarg_type_test(roses="red", violets="blue")

{'a': 'hi'}
{'roses': 'red', 'violets': 'blue'}

# **Examples**

1. To find Factorial of a number

In [ ]:
def fact(n):
  if n==0:
    return 1
  else:
    return n*fact(n-1)
print("The factorial of a given no is",fact(5))

The factorial of a given no is 120

2. Fibonacci series

In [ ]:
def fib(n):
  if n<3:
    return 1
  else:
    return fib(n-1)+fib(n-2)
    
print("The nth fibbonacci no is",fib(10))

The nth fibbonacci no is 55

In [8]:
def maxtwo( x, y ):
  print("x=","y=",x,y)
  if x > y:
    return x
  return y
def maxthree( x, y, z ):
  return maxtwo( x, maxtwo( z, y ) )
print(maxthree(3, 6, -5))

x= y= -5 6
x= y= 3 6
6

# **Files **

In [ ]:
fo = open("AshaPython.txt", "w")
print ("Name of the file: ", fo.name)
print ("Closed or not : ", fo.closed)
print ("Opening mode : ", fo.mode)

Name of the file:  AshaPython.txt
Closed or not :  False
Opening mode :  w

In [ ]:
fo = open("Asha1.txt", "w")
fo.write( "     Welcome to PGDCB classroom      ")
fo = open("Asha1.txt", "r")
str1 =fo.read(8) 
print ("Read String is : ", str1)
fo.close()
fo = open("Asha1.txt", "a")
fo.write( "Christ University Students")
fo = open("Asha1.txt", "r")
print(fo.read() )
fo.close()

Read String is :       Wel
     Welcome to PGDCB classroom      Christ University Students

In [ ]:
# Python code to illustrate with() along with write() 
with open("Asha2.txt", "w") as f:  
    f.write("Hello World!!!\n") 
    f.write("Welcome to Sathyabama\n") 
    f.write("We are learning Python") 
with open("Asha2.txt") as file:      
  #helpful because using this method any files opened will be closed automatically after one is done, so auto-cleanup.
    data = file.read() 
    print(data) 

# Python code to illustrate split() function 
with open("Asha2.txt", "r") as file: 
    data = file.readlines() 
    for line in data: 
        word = line.split() 
        print (word)

Hello World!!!
Welcome to Sathyabama
We are learning Python
['Hello', 'World!!!']
['Welcome', 'to', 'Sathyabama']
['We', 'are', 'learning', 'Python']

In [ ]:
fo = open("Asha1.txt", "r")    #helpful because using this method any files opened will be closed automatically after one is done, so auto-cleanup.
data = fo.read() 
print(data)
print(data.lstrip())   #This function strips each line of a file off spaces from the left-hand side.
print(data.rstrip())

     Welcome to PGDCB classroom      Christ University Students
Welcome to PGDCB classroom      Christ University Students
     Welcome to PGDCB classroom      Christ University Students

In [ ]:
fo = open("Asha1.txt", "r")    #helpful because using this method any files opened will be closed automatically after one is done, so auto-cleanup.
data = fo.read() 
print(data)
print(data.lstrip())   #This function strips each line of a file off spaces from the left-hand side.
print(data.rstrip())  #rstrip() method returns a copy of the string with trailing characters/spaces removed 
# rstrip() method using optional parameters  
  
#string which is to be stripped 
string = "Pythonpppppp"
# Removes given set of characters from 
# right. 
print(string.rstrip('p')) 
# string which is to be stripped 
string = "Christ Univ students"
# Removes given set of characters from 
# right. 
print(string.rstrip('ents'))
# string which is to be stripped 
string = " Student        "
# Leading whitespaces are removed 
print("Happy" + string.rstrip() + " life ")

     Welcome to PGDCB classroom      Christ University Students
Welcome to PGDCB classroom      Christ University Students
     Welcome to PGDCB classroom      Christ University Students
Python
Christ Univ stud
Happy Student life

In [ ]:
fo = open("DCB.txt", "w")
fo.write( "PGDCB Python Class!! This is a Certification Course with 22 Hours of Study")
fo = open("DCB.txt", "r+")
str = fo.read(10);
print ("Read String is : ", str)
# Close opend file
fo.close()

Read String is :  PGDCB Pyth

In [ ]:
# Open a file
fo = open("DCB.txt", "r+")
str = fo.read(10);
print ("Read String is : ", str)
# Check current position
position=fo.tell()
print("Current file position : ",position)
# Reposition pointer at the beginning once again
position=fo.seek(2,0);
str=fo.read(10)
print("Again read String is : ",str)
# Close opend file
fo.close()

Read String is :  PGDCB Pyth
Current file position :  10
Again read String is :  DCB Python

In [ ]:
# Open a file
import os
f = open("DCB.txt", "rb")
str = f.read();
print ("Read String is : ", str)
position=f.tell()
print("Current file position : ",position)
# Reposition pointer at the beginning once again
#position=fo.seek(-2,1);
#f = open('D:\SGStat.txt', 'ab')
print(f.seek(f.tell()-3, os.SEEK_SET))
f.seek(-4,2)
str=f.read()
print("Again read String is : ",str)
# Close opend file
fo.close()

Read String is :  b'PGDCB Python Class!! This is a Certification Course with 22 Hours of Study'
Current file position :  74
71
Again read String is :  b'tudy'

In [ ]:
# Python program to illustrate 
# Append vs write mode 
file1 = open("myfile.txt", "w") 
L = ["This is PGDCB Course \n", "This is Python \n", "This is Programming \n"] 
file1.writelines(L)       #writelines() : For a list of string elements, each string is inserted in the text file. 
                          #Used to insert multiple strings at a single time.
file1.close() 
  
# Append-adds at last 
file1 = open("myfile.txt", "a")  # append mode 
file1.write("Welcome \n") 
file1.close() 
  
file1 = open("myfile.txt", "r") 
print("Output of Readlines after appending") 
print(file1.read()) 
print() 
file1.close() 
  
# Write-Overwrites 
file1 = open("myfile.txt", "w")  # write mode 
file1.write("Thank you \n") 
file1.close() 
  
file1 = open("myfile.txt", "r") 
print("Output of Readlines after writing") 
print(file1.read()) 
print() 
file1.close()

Output of Readlines after appending
This is PGDCB Course
This is Python
This is Programming
Welcome


Output of Readlines after writing
Thank you

In [ ]:
with open("Asha1.txt") as file:      #helpful because using this method any files opened will be closed automatically after one is done, so auto-cleanup.
    data = file.read() 
    print("ASHA1 Contents:",data)

with open("Asha2.txt") as file:      #helpful because using this method any files opened will be closed automatically after one is done, so auto-cleanup.
    data = file.read() 
    print("ASHA2 Contents:",data)

ASHA1 Contents:      Welcome to PGDCB classroom      Christ University Students
ASHA2 Contents: Hello World!!!
Welcome to Sathyabama
We are learning Python

In [ ]:
# COPY CONTENTS OF ONE FILE INTO ANOTHER
# open both files 
with open('Asha2.txt','r') as firstfile, open('Asha1.txt','a') as secondfile: 
      
    # read content from first file 
    for line in firstfile: 
               
             # write content to second file 
             secondfile.write(line)

with open("Asha1.txt") as file:      #helpful because using this method any files opened will be closed automatically after one is done, so auto-cleanup.
    data = file.read() 
    print("ASHA1 Contents:",data)

ASHA1 Contents:      Welcome to PGDCB classroom      Christ University StudentsHello World!!!
Welcome to Sathyabama
We are learning Python

In [ ]:
#Using shutil.copy() module

#The shutil.copy() method in Python is used to copy the content of the source file to destination file or directory. 

# import module 
import shutil 
  
# use copyfile() 
shutil.copyfile('first.txt','second.txt')

In [ ]:
How to save file with file name from user using Python?
# path of this script 
directory = "D:\gfg\\"
  
# get fileName from user 
filepath = directory + input("Enter filename: ") 
  
# Creates a new file 
with open(filepath, 'w+') as fp: 
    pass

In [ ]:
import os

# Rename a file from test1.txt to test2.txt
os.rename( "Asha.txt", "VAL.txt" )